* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F1F1F1;
}

.header {
    background-color: #F1F1F1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.profile-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.main-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil {
    line-height: 1;
    margin: 0;
    padding: 0;
}

.profil-desk {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.profil-link {
    color: antiquewhite;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
}


.offcanvas-start {
    --bs-offcanvas-width: 85%;
    background-color: #335079;
}

.offcanvas-end {
    --bs-offcanvas-width: 85%; 
    background-color: #335079;
}

.offcanvas-header {
    justify-content: center;
}

.navbar-body {
    color: aliceblue;
    display: flex;
    flex-direction: column;

}

.navbar-body > div {
    position: relative; /* Mengatur posisi relatif */
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5); /* x, y, blur, spread radius, */
    background-color: #233652; 
    padding: 15px 20px; 
}

/* Atur z-index setiap elemen agar tidak menimpa (harus pake position:relative; */
.navbar-keluar {
    z-index: 3;
}

.navbar-tambah {
    z-index: 2;
}

.navbar-kalender {
    z-index: 1;
}

.navbar-keluar {
    height: 50px;
    background-color: #233652;
}

.navbar-tambah {
    background-color: #233652;
    
}

.navbar-kalender {
    background-color: #233652;
}

.submenuInfoClass div {
    padding: 5px 25px;
    background: rgb(1, 87, 174);
    cursor: pointer;
}

.submenuInfoClass div:hover {
    background-color: #b3b3b3;
    transition: background-color 0.3s ease;
}

.submenuInfoClass {
    border:#ffffff;
}

.submenuKegiatanClass div {
    padding: 5px 25px;
    background: rgb(1, 87, 174);
    cursor: pointer;
}

.submenuKegiatanClass div:hover {
    background-color: #b3b3b3;
    transition: background-color 0.3s ease;
}

.submenuKegiatanClass {
    border:#ffffff;
}

.submenuDatabaseClass div {
    padding: 5px 25px;
    background: rgb(1, 87, 174);
    cursor: pointer;
}

.submenuDatabaseClass div:hover {
    background-color: #b3b3b3;
    transition: background-color 0.3s ease;
}

.submenuDatabaseClass {
    border:#ffffff;
}

.nt {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navbar-body a {
    text-decoration: none; /* Menghilangkan underline */
    color: inherit;
}

.card {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.card-content {
    text-align: left;
}

.card-title {
    font-size: 13px;
    font-weight: 900;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.card-description {
    font-size: 9px;
    color: #000000;
    margin-bottom: 10px;
    text-align: left;
}

.penyelenggara {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 7px;
}

.penyelenggara p {
    margin-bottom: 3px;
    text-align: center;
}

.details {
    font-size: 9px;
    display: flex;
    align-items: center; /* Pastikan elemen di dalamnya memanjang ke seluruh tinggi */
    background-color: #ffffff;
    background-color: #047169;
    width: 100%;
    border-radius: 10px;
}

.location {
    background-color: #3E6477;
    color: white;
    padding: 8px 12px;
    border-radius: 10px 0 10px 0;
    font-size: 9px;
    flex-grow: 1; /* Memastikan .location mengisi sisa ruang yang tersedia */
    width: 50%;
}

.jam {
    text-align: center;
    color: white;
    background-color: #047169;
    border-radius: 0 10px 0 0;
    padding: 8px 12px;
    font-size: 9px;
    flex-grow: 0;
    width: 18%;
}

.date {
    color: white;
    background-color: #18bfa7;
    padding: 8px 12px;
    border-radius: 0 10px 0 0;
    font-size: 9px;
    flex-grow: 0; /* .date hanya sebesar isi teksnya */
    width: 32%;
}

.penyelenggara p {
    font-size: 9px;
}

/* Media Queries untuk Responsivitas */

@media (min-width: 450px) {
    .card-title {
        font-size: 20px;
    }
    .card {
        max-width: 90%;
        width: 100%;
    }
    .offcanvas-end {
        --bs-offcanvas-width: 80%; /* Sesuaikan lebar sesuai kebutuhan */
    }
    .main-content {
        font-size: 50%;
    }
    .bi {
        width: 14px;
        height: 14px;
    }
}

@media (min-width: 550px) {
    .title {
        font-size: 35px;
    }
    .card-title {
        font-size: 30px;
    }
    .card-description {
        font-size: 15px;
    }
    .penyelenggara p {
        font-size: 100%;
    }
    .bxi {
        width: 14px;
        height: 14px;
    }
    .bi {
        width: 33px;
        height: 33px;
    }
    .location {
        font-size: 13px;
    }
    .jam {
        font-size: 13px;
    }
    .date {
        font-size: 13px;
    }
    .card {
        max-width: 90%;
        width: 100%;
    }
    .offcanvas-end {
        --bs-offcanvas-width: 50%; /* Sesuaikan lebar sesuai kebutuhan */
    }
}

@media (min-width: 800px) {
    .card {
        max-width: 90%;
        width: 100%;
    }
    .offcanvas-start {
        --bs-offcanvas-width: 85%;
    }
    .offcanvas-end {
        --bs-offcanvas-width: 25%; /* Sesuaikan lebar sesuai kebutuhan */
    }
    .title {
        font-size: 35px;
    }
    .location {
        font-size: 15px;
    }
    .jam {
        font-size: 15px;
    }
    .date {
        font-size: 15px;
    }
    .bi {
        width: 40px;
        height: 40px;
    }
}
